<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="rps_7c9a"><div>
<div style="display:none; font-size:1px; color:#ffffff; line-height:1px; max-height:0px; max-width:0px; opacity:0; overflow:hidden"></div>
<div style="display:none; font-size:1px; color:#ffffff; line-height:1px; max-height:0px; max-width:0px; opacity:0; overflow:hidden">Use this <span data-markjs="true" class="markcdlfs405g" data-ogac="" data-ogab="" data-ogsc="" data-ogsb="" style="color: black; background-color: rgb(255, 241, 0);">code</span> to confirm your identity. </div>
<div class="x_EmailMessageBody" style="background-color:#f3f3f3"><div style="background:white; background-color:white; margin:0px auto; max-width:600px">
	<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:white; background-color:white; width:100%">
		<tbody>
			<tr>
				<td style="direction:ltr; font-size:0px; padding:10% 10% 0 10%; text-align:left; vertical-align:top">
					<div class="x_mj-column-per-100 x_outlook-group-fix" style="font-size:0; line-height:0; text-align:left; display:inline-block; width:100%; direction:ltr; vertical-align:top">
					<div class="x_mj-column-px-24 x_outlook-group-fix x_margin-right-8" style="margin-right:8px; font-size:13px; text-align:left; direction:ltr; display:inline-block; vertical-align:top">
						<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
							<tbody>
								<tr>
									<td align="left" style="font-size:0px; padding:0; padding-top:2px; word-break:break-word">
										<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse; border-spacing:0px">
											<tbody>
												<tr>
													<td>
														<img data-imagetype="External" src="https://prepaid.bankofamerica.com/Content/PRC384/_Images/EmailLogo.png" alt="icon logo" height="auto" width="60" style="border:0; display:block; outline:none; text-decoration:none; height:auto; width:100%"> 
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="x_mj-column-per-87 x_outlook-group-fix" style="font-size:13px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:87%">
						<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
							<tbody>
								<tr>
									<td align="left" class="x_header-title" style="font-family:'Open Sans',Helvetica,Arial,sans-serif; line-height:1.5; text-transform:uppercase; font-weight:800; letter-spacing:+1px; color:#222222; padding:0; word-break:break-word; font-size:11pt">
										<div style="font-family:Open Sans,Helvetica,Arial,sans-serif!important; font-size:15px; line-height:1.5; text-align:left; color:#222222">Bank of America EDD Debit Card </div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</div>
<div style="background:white; background-color:white; margin:0px auto; max-width:600px">
	<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:white; background-color:white; width:100%">
		<tbody>
			<tr>
				<td style="direction:ltr; font-size:0px; padding:16px 10%; text-align:center; vertical-align:top">
					<div class="x_mj-column-per-100 x_outlook-group-fix" style="font-size:13px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%">
						<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
							<tbody>
								<tr>
									<td align="left" style="font-size:0px; padding:0; word-break:break-word">
										<div style="font-family:Open Sans,Helvetica,Arial,sans-serif!important; font-size:12pt; line-height:1.5; text-align:left; color:#222222">
											<p>VLADIMIR,
												<br>Your one-time passcode is: 
												<strong>6323344</strong> 
											</p>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div style="background:white; background-color:white; margin:0px auto; max-width:600px">
	<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:white; background-color:white; width:100%">
		<tbody>
			<tr>
				<td style="direction:ltr; font-size:0px; padding:16px 10%; text-align:center; vertical-align:top">
					<div class="x_mj-column-per-100 x_outlook-group-fix" style="font-size:13px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%">
						<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
							<tbody>
								<tr>
									<td align="left" style="font-size:0px; padding:0; word-break:break-word">
										<div style="font-family:Open Sans,Helvetica,Arial,sans-serif!important; font-size:12pt; line-height:1.5; text-align:left; color:#222222">
											<p>Use this passcode to verify your identity on our website. This 
												<span data-markjs="true" class="markcdlfs405g" data-ogac="" data-ogab="" data-ogsc="" data-ogsb="" style="color: black; background-color: rgb(255, 241, 0);">code</span>
												 will expire in 5 minutes. 
											 </p>
										 </div>
									 </td>
								 </tr>
							 </tbody>
						 </table>
					 </div>
				 </td>
			 </tr>
		 </tbody>
	 </table>
 </div>
 <div style="background:white; background-color:white; margin:0px auto; max-width:600px">
 	<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:white; background-color:white; width:100%">
 		<tbody>
 			<tr>
 				<td style="direction:ltr; font-size:0px; padding:16px 10%; text-align:center; vertical-align:top">
 					<div class="x_mj-column-per-100 x_outlook-group-fix" style="font-size:13px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%">
 						<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
 							<tbody>
 								<tr>
 									<td align="left" style="font-size:0px; padding:0; word-break:break-word">
 										<div style="font-family:Open Sans,Helvetica,Arial,sans-serif!important; font-size:12pt; line-height:1.5; text-align:left; color:#222222">
 											<p>If you did not make this request, please contact customer service immediately. </p>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div style="margin:0px auto; max-width:600px">
	<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
		<tbody>
			<tr>
				<td style="direction:ltr; font-size:0px; padding:0; text-align:center; vertical-align:top">
					<div class="x_mj-column-per-100 x_outlook-group-fix" style="font-size:13px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%">
						<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
							<tbody>
								<tr>
									<td style="background:white; font-size:0px; padding:0; word-break:break-word">
										<div style="height:16px">&nbsp; </div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="x_footer" style="background:#f3f3f3; background-color:#f3f3f3; margin:0px auto; max-width:600px">
	<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" bgcolor="#f3f3f3" style="font-size:10pt; font-weight:400; background:#f3f3f3; background-color:#f3f3f3; width:100%; color:#6E6E6E">
		<tbody style="font-size:10pt; font-weight:400; color:#6E6E6E">
			<tr style="font-size:10pt; font-weight:400; color:#6E6E6E">
				<td align="center" valign="top" style="font-weight:400; direction:ltr; font-size:0px; padding:32px 10%; text-align:center; vertical-align:top; color:#6E6E6E">
					<div class="x_mj-column-per-100 x_outlook-group-fix" style="font-weight:400; font-size:13px; text-align:left; direction:ltr; display:inline-block; vertical-align:top; width:100%; color:#6E6E6E">
						<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" valign="top" style="font-size:10pt; font-weight:400; vertical-align:top; color:#6E6E6E">
							<tbody>
								<tr style="font-size:10pt; font-weight:400; color:#6E6E6E">
									<td align="left" style="font-weight:400; font-size:0px; padding:0; word-break:break-word; color:#6E6E6E">
										<div style="font-weight:400; font-size:13px; line-height:1.5; text-align:left; color:#6E6E6E; font-family:Open Sans,Helvetica,Arial,sans-serif">To contact us, please use: </div>
									</td>
								</tr>
								<tr style="font-size:10pt; font-weight:400; color:#6E6E6E">
									<td style="font-weight:400; font-size:0px; word-break:break-word; color:#6E6E6E">
										<div style="font-size:10pt; font-weight:400; height:8px; color:#6E6E6E">&nbsp; </div>
									</td>
								</tr>
								<tr style="font-size:10pt; font-weight:400; color:#6E6E6E">
									<td align="left" style="font-weight:400; font-size:0px; padding:0; word-break:break-word; color:#6E6E6E">
										<div style="font-weight:400; font-size:13px; line-height:1.5; text-align:left; color:#6E6E6E; font-family:Open Sans,Helvetica,Arial,sans-serif">
											<a href="https://prepaid.bankofamerica.com/eddcard" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="font-size:10pt; font-weight:400; color:#6E6E6E">Website</a>
											 / <span style="font-size:10pt; font-weight:400; color:#6E6E6E">866-692-9374</span> 
										 </div>
									 </td>
								 </tr>
								 <tr style="font-size:10pt; font-weight:400; color:#6E6E6E">
								 	<td style="font-weight:400; font-size:0px; word-break:break-word; color:#6E6E6E">
								 		<div style="font-size:10pt; font-weight:400; height:16px; color:#6E6E6E">&nbsp; </div>
							 		</td>
						 		</tr>
						 		<tr style="font-size:10pt; font-weight:400; color:#6E6E6E">
						 			<td align="left" style="font-weight:400; font-size:0px; padding:0; word-break:break-word; color:#6E6E6E">
						 				<div style="font-weight:400; font-size:13px; line-height:1.5; text-align:left; color:#6E6E6E; font-family:Open Sans,Helvetica,Arial,sans-serif">This email is an automated message. Please do not reply. </div>
					 				</td>
				 				</tr>
			 				</tbody>
		 				</table>
	 				</div>
 				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>

</div>
</div>

</body>
</html>